/*Lista*/
.block-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--block-list-background-color);
    border-radius: 15px;
    box-shadow: 0 6px 12px var(--global-shadow-color);
    margin: 20px auto;
    max-width: 400px;
}

.block-list h4 {
    font-size: 1.5rem;
    color: var(--block-list-h4-c);
    margin: 15px;
    text-align: center;
    font-weight: bold;
}

.block-list p {
    color: var(--block-list-p-c);
    font-size: 1rem;
    text-align: center;
}


/*Targetas*/

.block-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--global-card-background);
    border: 2px solid var(--global-card-border);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--global-shadow-color);
    transition: transform 0.2s, box-shadow 0.2s;
    width: -webkit-fill-available;
}

.block-card:hover {
    box-shadow: 0 6px 12px var(--global-shadow-color-focus);
}

.block-card h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--global-card-h4-c);
    margin-bottom: 10px;
}

.block-card button {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 10px;
}

.block-card button:hover {
    transform: translateY(-2px);
}

.block-card .report-button {
    background-color: var(--block-list-report-button-bg);
}

.block-card .report-button:hover {
    background-color: var(--block-list-report-button-bg-hover);
}

.blocked-actions{
    width: -webkit-fill-available;
    padding: 5px;
}

.blocked-actions button{
    margin: 10px;
}

