/* Contenedor principal del dashboard */
.dashboard-user {
    display: flex; /* Diseño en fila */
    flex-wrap: nowrap; /* Evitar que los botones se desplacen abajo */
    justify-content: center; /* Espaciado entre las secciones */
    align-items: flex-start; /* Alinear al inicio */
    gap: 20px; /* Espaciado entre botones y contenido */
    font-family: 'Arial', sans-serif;
    margin: auto;
    max-width: 1200px;
}

/* Columna de los botones */
.manage-buttons {
    display: flex;
    flex-direction: column; /* Organización vertical */
    gap: 10px; /* Espaciado entre los botones */
    padding: 15px;
    border-radius: 10px;
    width: 180px; /* Ancho fijo para los botones */
}

/* Estilo de los botones */
.manage-buttons button {
    background-color: var(--dashboard-button-bg);
    color: var(--dashboard-button-c);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.manage-buttons button:hover {
    background-color: var(--dashboard-button-bg-hover);
    transform: translateY(-2px); /* Efecto visual */
}

.manage-buttons button:disabled {
    background-color: var(--dashboard-button-bg-disabled);
    cursor: not-allowed;
}

/* Contenido principal */
.dashboard-content {
    border-radius: 10px;
}


@media (max-width: 768px) {
    .dashboard-user {
        flex-direction: column; /* Cambia a disposición vertical */
        overflow: hidden;
    }

    .manage-buttons {
        width: -webkit-fill-available; /* Ocupa todo el ancho */
        order: 1; /* Mantén los botones arriba */
        flex-direction: row;
        justify-content: center; /* Centra los botones horizontalmente */
        gap: 15px; /* Ajusta el espaciado */
    }

    .dashboard-content {
        order: 2; /* El contenido se mueve abajo */
        margin: 0 auto;
    }
}