footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1000; 
    width: 100%;
    background-color: #1e293b; 
}

footer p{
    margin: .5%;
}