footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 900; 
    width: 100%;
    background-color: var(--footer-background-color); 
    color: var(--footer-text-color);
}   

footer p{
    margin: .5%;
}

footer button{
    margin: 2%;
    padding: 3px;
}