.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--global-form-label-c);
    font-size: 0.9rem;
}

.form-group input {
    width: -webkit-fill-available;
    padding: 0.8rem;
    margin-top: 0.3rem;
    border: 1px solid var(--global-form-input-border-c);
    border-radius: 5px;
    background-color: var(--global-form-input-bg);
    color: var(--global-form-input-c);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-group textarea {
    resize: none;
    height: 100px;
}


.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: var(--global-form-input-border-c-focus);
}