.image-form {
    max-width: 400px;
    margin: 0 auto; /* Centra el formulario */
    padding: 1.5rem;
    background-color:var(--global-form-background-color);
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px var(--global-shadow-color);
    color: var(--global-form-color);
    font-family: Arial, sans-serif;
}

.image-form h3 {
    margin: 1rem;
    margin-top: 0px;
    text-align: center;
    color: var(--global-form-h3-c);
    font-size: 1.5rem;
}

.image-form label {
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.image-form input[type="radio"] {
    margin-right: 0.5rem;
    accent-color:var(--global-form-input-radio);
}

.image-form input[type="file"] {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color:var(--global-form-input-bg);
    color:var(--global-form-input-c);
    border: 1px solid var(--global-form-input-border-c);
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    width: -webkit-fill-available;
}

.image-form button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.image-form button:hover:enabled {
    background-color:var(--global-button-background-enabled);
}

.image-form p {
    margin-top: 1rem;
    color:var(--image-form-p-c);
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 768px) {
    .image-form{
        margin: 2% auto;
    }
}