.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #94a3b8; /* Gris claro */
    font-size: 0.9rem;
}

.form-group input {
    width: -webkit-fill-available;
    padding: 0.8rem;
    margin-top: 0.3rem;
    border: 1px solid #94a3b8; /* Borde gris claro */
    border-radius: 5px;
    background-color: #f1f5f9; /* Fondo gris claro */
    color: #1e293b; /* Texto oscuro */
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-group textarea {
    resize: none;
    height: 100px;
}


.form-group input:focus {
    border-color: #60a5fa; /* Azul claro */
}