/* Formulario */
.profile-form {
    background-color:var(--global-form-background-color);
    color:var(--global-form-color);
    box-shadow: 0 4px 8px var(--global-shadow-color);
    padding: 20px;
    max-width: 800px;
}
.profile-form-groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--global-form-input-border-c);
    border-radius: 5px;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}


@media (max-width: 768px) {

    .profile-form {
        margin-top: 3%;
    }
}