/*Form de recuperación*/
.recover-form {
    max-width: 360px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--global-form-background-color);
    color: var(--global-form-color);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px var(--global-shadow-color);
    font-family: Arial, sans-serif;
    text-align: center;
}

.recover-form h3 {
    margin-bottom: 1rem;
    color: var(--global-form-h3-c);
    font-size: 1.6rem;
    font-weight: bold;
}

.recover-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.recover-form input {
    width: -webkit-fill-available;
    padding: 0.8rem;
    margin-top: 0.3rem;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.recover-form button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color:var(--recover-form-button-bg);
    border: none;
    border-radius: 5px;
    color: var(--recover-form-button-c);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.recover-form button:hover {
    background-color: var(--recover-form-button-bg-hover);
}

.recover-form button:disabled {
    background-color: var(--recover-form-button-bg-disabled);
    cursor: not-allowed;
}

.recover-form p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--recover-form-p-c);
    text-align: center;
}

/*Formulario de registro*/
.regist-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--global-form-background-color);
    color: var(--global-form-color);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px var(--global-shadow-color);
    font-family: Arial, sans-serif;
}

.regist-form h3 {
    margin-bottom: 1rem;
    color: var(--regist-form-h3-c);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

/*Boton volver*/
.back-button{
    margin: 1%;
    width: 20%;
}

@media (max-width: 768px) {
    .back-button{
        margin: 3%;
        width:50%;
    }
}