.search-form {
    max-width: 600px;
    margin: .5rem auto;
    padding: 1.5rem;
    background-color:var(--global-form-background-color); 
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--global-shadow-color);
    font-family: Arial, sans-serif;
    color:var(--global-form-color);
}

.search-form h3 {
    margin: .7rem 0 1rem;
    color:var(--search-form-h3);
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid var(--search-form-h3);
    padding-bottom: 0.5rem;
}

.search-form div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.search-form label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--search-form-label-c); 
    font-size: 0.9rem;
}

.search-form input,
.search-form select {
    padding: 0.8rem;
    border: 1px solid var(--search-form-input-border); 
    border-radius: 5px;
    background-color: var(--search-form-input-bg);
    font-size: 1rem;
    color: var(--search-form-input-c);
    outline: none;
    transition: border-color 0.3s;
}

.search-form input:focus,
.search-form select:focus {
    border-color: var(--search-form-input-focus-border); 
}

.search-form input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.2); /* Aumenta tamaño del checkbox */
}

.search-form button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.search-form button[type="submit"]:hover {
    transform: scale(1.02); /* Ligero aumento */
}

.search-form button[type="submit"]:active {
    transform: scale(0.98);
}

.advanced-filters {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.advanced-filters.active {
    max-height: 1000px; /* Altura suficiente para mostrar los filtros */
    transition: max-height 0.5s ease-in;
}

.advanced-filters div {
    margin-bottom: 1rem;
}
