.profile-delete-form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color:var(--global-form-background-color);
    color:var(--global-form-color);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px var(--global-shadow-color); /* Sombra elegante */
    font-family: Arial, sans-serif;
    text-align: center;
}

.profile-delete-form .form-group input:focus {
    border-color:var(--delete-form-input-border-focus) !important;
}

.profile-delete-form button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.5rem;
    background-color:var(--delete-form-button-bg);
    border: none;
    border-radius: 5px;
    color: var(--delete-form-button-c);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.profile-delete-form button[type="submit"]:hover {
    background-color:var(--delete-form-button-bg-hover); 
    transform: scale(1.02); /* Ligero aumento para dar énfasis */
}

.profile-delete-form button[type="submit"]:active {
    background-color:var(--delete-form-button-bg-active);
    transform: scale(0.98); /* Efecto de clic */
}

.profile-delete-form p {
    margin-top: 1rem;
    color:var(--delete-form-p-c);
    font-size: 0.9rem;
}
