.login-form {
    max-width: 360px; /* Ancho máximo del formulario */
    margin: 1rem auto; /* Centra en la página */
    padding: 1.5rem;
    background-color: var(--global-form-background-color);
    color: var(--global-form-color); 
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px var(--global-shadow-color); /* Sombra elegante */
    text-align: center;
    font-family: Arial, sans-serif;
}

.login-form h2 {
    margin-bottom: 1rem;
    color: var(--global-form-h3-c);
    font-size: 1.8rem;
}

.login-form input {
    width: -webkit-fill-available;
    padding: 0.8rem;
    margin: 0.7rem 0;
    border: 1px solid var(--global-form-input-border-c);
    border-radius: 5px; /* Bordes suaves */
    background-color: var(--global-form-input-bg);
    color: var(--global-form-input-c);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: var(--global-form-input-border-c-focus);
}

.login-form button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.7rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*Recover user*/
.login-form p:last-child {
    margin: 0.5rem 0;
    margin-top: 1rem;
    font-size: 1rem;
    color: #f87171; /* Rojo */
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s;
}

.login-form p:last-child:hover {
    color: #f43f5e; /* Rojo más brillante */
}
