/* General */
.profile-view {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
}

/* Header del Perfil */
.profile-header {
    position: relative;
    background-color: #f4f4f4;
}

/* Imagen de Portada */
.cover-photo {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    border-radius: 10px;
}

/* Contenedor Imagen de Perfil */
.profile-picture-container {
    position: absolute;
    top: 35%;
    left: 1%;
    display: flex;
    flex-direction: column; /* Mantiene los elementos apilados verticalmente */
    align-items: center; /* Centra la imagen de perfil */
    width: 150px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

/* Título del Usuario */
.user-title {
    display: flex;
    justify-content: center; /* Alinea horizontalmente los elementos */
    gap: 10px; /* Espaciado entre el nombre y el especial */
    text-align: center;
    flex-wrap: wrap; /* Permite que los textos se ajusten en pantallas pequeñas */
    width: 100%;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.user-title h3 {
    font-size: 16px;
    color: #666;
}

/* Biografía */
.profile-header p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    padding-top: 10%;
}

/* Información del Perfil */
.profile-info {
    display: flex;
    gap: 20px;
}

.info-section {
    flex: 1;
}

.info-section p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

.info-section p strong {
    color: #333;
}

/* Responsividad */
@media (max-width: 768px) {
    .profile-view {
        margin-top: 3%;
    }

    .profile-info {
        flex-direction: column;
        gap: 10px;
    }

    .profile-picture-container {
        top: 100px;
        width: 100px;
    }

    .profile-header p {
        padding: 15% 5% 0
    }

}
