.search-card {
    background: var(--global-card-background);
    border: 1px solid var(--global-card-border); /* Borde sutil */
    border-radius: 12px; /* Esquinas redondeadas */
    box-shadow: 0 4px 6px var(--global-shadow-color);
    padding: 20px;
    max-width: 300px;
    margin: 10px auto; 
    text-align: center; 
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s; /* Animaciones suaves */
}

.search-card:hover {
    box-shadow: 0 8px 12px var(--global-shadow-color-focus); /* Intensifica la sombra */
}

.search-card h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--global-card-h4-c);
}

.search-card img {
    width: 100%;
    height: 100%;
    border-radius: 5%; /* Imagen circular */
    object-fit: cover; /* Recorte dentro del círculo */
    margin: 10px 0;
    border: 2px solid var(--search-card-p-c); 
}

.search-card p {
    font-size: 0.9rem;
    color: var(--search-card-p-c);
    margin: 10px 0 20px;
}

/*Premy profile view*/
.search-card .premy-profile-view{
    width: -webkit-fill-available;
    display: flex;
    justify-content: right;
    margin-bottom: -20px;
}

.premy-profile-view button{
    width: 24px;        /* Ajusta el tamaño */
    height: 24px;
    background-image: url('/src/assets/images/icons/contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*Buttons*/
.search-card button {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
