.search-content .filter-button{
    width: 100%;
    max-width: 300px;
    background-color: var(--search-filter-button-bg);
}

.search-content .filter-button:hover{
    background-color: var(--search-filter-button-bg-hover);
}